<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <meta http-equiv="imagetoolbar" content="no">
    <title>{% block title %}Киоск плюс{% endblock %}</title>


    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    {% javascripts '@AppBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% stylesheets '@AppBundle/Resources/public/css/*' %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}



</head>
<body class="{% block bodyclass %}{% endblock %}">
<div id="wrapper">



</div>


{% block body %}{% endblock %}
</body>
</html>
