body {
    padding: 0;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
    background: #eee;
}

html {
    padding: 0;
    margin: 0;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, "Helvetica Neue Light", "Segoe UI", sans-serif;
    font-weight: 400;
    margin: 0 10px 0;
}

h1 {
    font-size: 25px;
    margin: 10px 10px 0;
}

h2 {
    font-size: 20px;
    margin: 0 10px 0;
}

a {
    color: inherit;
    text-decoration: underline;
}

#wrapper {
    min-width: 320px;
    margin: 0 auto;
    overflow-x: hidden;
    max-width: 1024px;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.4);
    background: #fff;
    -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none;
}

#main {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 300ms ease-out;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.4);
    z-index: 999;
    background-color: #FCFCFC;
}

#main .magazine-0 .cover, #main .magazine-1 .cover {background-size:contain; box-shadow: none; background-color: #FCFCFC;}
#main .magazines .item {display: block; width: 100%; text-align: left;}
#main .magazines .item .magazine {display: inline-block; width: 30%; margin: 1%;}
#main .j-group-title {font-size: 20px; display: block; margin-top: 4%;}
#main.bundle .j-group-title, body.premium #main .j-group-title {display: none;}
body.premium #main .magazines .item {display: inline-block; width: 30%; margin: 1%; text-align: center;}


.container-fluid {
    min-width: 320px;
    max-width: 1024px;
    margin: 0 auto;
    font-family: Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.container-fluid .title {text-align: center;}

.container-fluid .header {
    padding: 20px 24px 14px 24px;
}

.container-fluid .header:after {
    content: '';
    display: block;
    clear: both;
}

.container-fluid .header .menu_toggle {
    float: left;
    width: 32px;
    height: 30px;
    background: url(../images/menu.png) no-repeat;
    background-size: contain;
    display: block;
}

.container-fluid .header .search {
    float: right;
}

.container-fluid .header .search input {
    display: inline-block;
    vertical-align: middle;
}

.container-fluid .header .search input.search_text {
    border: 2px solid #00995d;
    height: 28px;
    padding: 0 10px;
    border-radius: 8px;
    width: 150px;
    font-size: 18px;
    margin-left: 10px;
    outline: none;
}

.container-fluid .menu {
    background: #262135;
    font-size: 18px;
    white-space: nowrap;
    overflow: auto;
    height: 50px;
    line-height: 50px;
    font-weight: lighter;
    text-align: center;
}

.container-fluid .menu a {
    margin: 0 15px;
    display: inline-block;
    color: #a9a9a9;
    text-decoration: none;
}

.container-fluid .menu a:hover,
.container-fluid .menu a:visited,
.container-fluid .menu a:focus {
    text-decoration: none;
}

.container-fluid .menu a.active {
    color: #fff;
}

.container-fluid .subscribe {
    -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none;
    text-align: center;
    margin: 12px 0;
}

.container-fluid .subscribe .button {
    -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none;
    background: #00995d;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    width: 220px;
    height: 50px;
    text-align: center;
    border-radius: 8px;
    line-height: 52px;
    text-decoration: none;
    margin: 0 15px 0;
}

.container-fluid .subscribe .description {
    -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none;
    color: #7e7e7e;
    font-size: 12px;
    margin: 6px -20px 0;
}

.slidertop {
    margin: 0 auto;
    overflow: hidden;
}

.slidertop-slide {
    margin: 0 6px;
}

/* Magazine /////////////*/

.magazine {
    overflow: hidden;
    vertical-align: top;
    margin-top: 10px;
    max-width: 400px;
    display: inline-block;
    text-align: left;
}

.magazine .magazine-inner {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.magazine .magazine-inner a {
    display: block;
    margin: 0 auto;
}

.magazine .cover {
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.4);
    background-color: #FFF;
    background-size: cover;
    padding-bottom: 120%;
    background-repeat: no-repeat;
    background-position: 50% 0;
    margin: 6px;
}

.magazine p {
    margin: 0;
    font-size: 16px;
}
.magazine p.title {font-weight: 500; color: #000; margin: 12px 6px 0; overflow: hidden; white-space: nowrap; position: relative; text-align: center;}
.magazine p.title a {position: relative; z-index: 10;}
.magazine p .shadow {position: absolute; right: 0; top: 0; height: 100%; width: 2em; z-index: 100;
    background: rgba(252,252,252,0);
    background: -moz-linear-gradient(left, rgba(252,252,252,0) 0%, rgba(252,252,252,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,252,252,0)), color-stop(100%, rgba(252,252,252,1)));
    background: -webkit-linear-gradient(left, rgba(252,252,252,0) 0%, rgba(252,252,252,1) 100%);
    background: -o-linear-gradient(left, rgba(252,252,252,0) 0%, rgba(252,252,252,1) 100%);
    background: -ms-linear-gradient(left, rgba(252,252,252,0) 0%, rgba(252,252,252,1) 100%);
    background: linear-gradient(to right, rgba(252,252,252,0) 0%, rgba(252,252,252,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#fcfcfc', GradientType=1 );}

.magazine p.date {
    font-weight: 400;
    color: #7e7e7e;
    margin: 0 0 0 6px;
    font-size: 14px;
}

@media all and (max-width: 480px) {
    .magazine p {
        margin: 0;
        font-size: 12px;
    }

    .magazine p.date {
        font-weight: 400;
        color: #7e7e7e;
        margin: 0 0 0 6px;
        font-size: 10px;
    }
}
.magazine p.date {display: none;}

/* /Magazine /////////////*/

.container-fluid .footer {
    background: #DDD;
    padding: 15px;
    margin-top: 30px;
    text-align: center;
    font-size: 10px;
    color: #7a7a7a;
}
#open {
    width: 250px;
    text-align: left;
    margin: 0 auto;
    line-height: 1.5;
    list-style: inside;
    padding-left: 40px;
    font-size: 13px;
}

.container-fluid .footer p {
    margin: 0;
    text-align: center;
}

.container-fluid .footer p.support {
    font-weight: 400;
    font-size: 25px;
    color: #7a7a7a;
}

.container-fluid .footer p.support span {
    display: inline-block;
    width: 100%;
}

.container-fluid .footer p.support span.phone {
    font-size: 40px;
    margin-top: 10px;
}

.container-fluid .footer p.disclaimer, .container-fluid .footer .disclaimer {
    font-weight: 400;
    font-size: 13px;
    color: #7a7a7a;
}
.container-fluid .footer .disclaimer.accordion {
    border-bottom: 1px dotted #666;
    display: inline-block;
}

.container-fluid .previews .title p {
    margin: 0;
}

.container-fluid .previews .title .bottom {
    font-size: 19px;
    color: #7e7e7e;
}

.container-fluid .previews .title .bottom a {
    float: right;
    font-size: 23px;
    color: #7e7e7e;
    vertical-align: middle;
    line-height: 37px;
    font-weight: 400;
    text-decoration: none;
    position: relative;
}

.container-fluid .previews .title .bottom a:after {
    content: '';
    width: 6px;
    height: 11px;
    display: inline-block;
    background: url(../images/arrow.png) no-repeat;
    line-height: inherit;
    vertical-align: middle;
    margin-left: 10px;
    -webkit-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.container-fluid .previews .preview {
    width: 270px;
    margin: 0 auto;
}

.container-fluid .previews .preview div.image {
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    overflow: hidden;
}
.container-fluid .previews .preview div.image img {float: left; width: 100%;}

.container-fluid .previews .preview .blob {
    overflow-x: auto;
    overflow-y: hidden;
    padding: 20px 0 30px 20px;
}

.container-fluid .previews .preview .flat {
    display: block;
    height: 60px;
    line-height: 60px;
    width: 300px;
    font-weight: 300;
    text-decoration: none;
    background: #fcc200;
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    color: #2c2c2c;
    border-radius: 30px;
    text-transform: uppercase;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.4);
}

.container-fluid .previews .description_bottom {
    padding: 45px 45px 68px 45px;
}

.container-fluid .previews .description_bottom p {
    font-size: 30px;
    margin: 0;
    font-weight: 400;
    color: #7e7e7e;
}

.container-fluid .previews .description_bottom p.title {
    font-weight: 500;
    color: black;
    margin-bottom: 5px;
}

.container-fluid .previews .description_bottom .title {
    padding: 0;
}

.container-fluid .view {
    position: relative;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.container-fluid .view .arrows {
    position: absolute;
    width: 80px;
    height: 90px;
    top: 501px;
    box-shadow: 0 0 27px 3px rgba(0, 0, 0, 0.4);
}

.container-fluid .view .arrows.left {
    left: 0;
    background: #fff url(/images/vArrow_left.png) no-repeat center;
}

.container-fluid .view .arrows.right {
    right: 0;
    background: #fff url(/images/vArrow_right.png) no-repeat center;
}

.container-fluid .view .status_bar {
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #7e7e7e;
    margin: 15px 0 0;
}

.container-fluid .view .status_bar .line {
    height: 20px;
}

.container-fluid .view .status_bar .line .line_small {
    height: 3px;
    margin-top: 2px;
    position: absolute;
    left: 40px;
    background: #808080;
    z-index: 2;
    width: -moz-calc(100% - 80px);
    width: -ms-calc(100% - 80px);
    width: -webkit-calc(100% - 80px);
    width: calc(100% - 80px);
}

.container-fluid .view .status_bar .line .line_big {
    width: 10%;
    height: 5px;
    left: 40px;
    position: absolute;
    z-index: 3;
    background: #00995d;
}

.container-fluid .view .top_header {
    height: 76px;
    line-height: 76px;
    text-align: right;
    padding: 0 20px;
}

.container-fluid .view .top_header a {
    display: inline-block;
}

.container-fluid .view .top_header a.back {
    font-size: 23px;
    color: #7e7e7e;
    font-weight: 400;
    text-decoration: none;
    float: left;
}

.container-fluid .view .top_header a.back:before {
    content: '';
    width: 6px;
    height: 11px;
    display: inline-block;
    background: url(/images/arrow.png) no-repeat;
    line-height: inherit;
    vertical-align: middle;
    margin-right: 10px;
}

.container-fluid .view .top_header a.bookmark {
    width: 24px;
    height: 33px;
    background: url(/images/add_book.png) no-repeat;
    line-height: 76px;
    vertical-align: middle;
}

.container-fluid .view .top_header a.added_menu {
    width: 33px;
    height: 33px;
    background: url(/images/bookmarks.png) no-repeat;
    line-height: 76px;
    vertical-align: middle;
    margin-left: 17px;
}

.container-fluid .view .small_previews {
    position: absolute;
    height: 300px;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 18px 37px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    box-shadow: 0 -10px 26px 7px rgba(0, 0, 0, 0.2);
}

.container-fluid .view .small_previews a {
    display: inline-block;
    text-align: center;
    font-size: 21px;
    text-decoration: none;
    color: #7e7e7e;
    margin-right: 30px;
}

.container-fluid .view .small_previews a:last-of-type {
    margin-right: 0;
}

.container-fluid .view .small_previews a img {
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.4);
}

.container-fluid .view .small_previews a p {
    margin: 18px 0 0 0;
}

/* New Year Styles */
.newYear{
    display: none;
}

img.nyIm {
    position: absolute;
    z-index: -10;
}
img.nyIm.oneHead {
    width: 123px;
    top: -54px;
    left: -19px;
}
img.nyIm.twoHead {
    width: 124px;
    top: -15px;
    right: -18px;
}

img.nyIm.oneWrap {
    width: 309px;
    left: -50px;
    margin-top: -30px;
}
img.nyIm.twoWrap {
    width: 309px;
    right: -42px;
    margin-top: 350px;
}
img.nyIm.threWrap {
    width: 330px;
    left: -60px;
    margin-top: 800px;
}
img.nyIm.nyFoot {
    width: 110%;
    left: -3%;
    margin-top: -12%;
}






div.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.one-col {width: 100%; overflow: hidden;}
.one-col > .inner {width: auto; overflow: auto; padding: 0 1.4em;}
.one-col .inner {width: auto; overflow: auto; padding: 0 1.4em;}
.one-col .magazine {min-width: 20em; max-width: 20em; padding: 0 2.2em 1.5em 0; display: table-cell; position: relative;}
.one-col.cover .magazine-inner {position: relative;}
.one-col.cover .magazine-inner .mask {position: absolute; left:0; top: 0; width: 100%; height: 100%; z-index: 20;}
.one-col.cover .magazine-inner .title {display: none;}
.one-col.cover .magazine-inner .date {display: block;}

.j-group-title {display: none; font-size: 20px; text-align: left; margin: 6% 3% 0;}
.magazines .item {width: 32%; display: inline-block;}
.magazines .item .magazine {display: block;}
.magazines > .magazine:nth-child(1) {margin-bottom: 20px;}
.magazines .inner .magazine {display: none;}
.magazines .inner .magazine:nth-child(1), .magazines .inner .magazine:nth-child(2), .magazines .inner .magazine:nth-child(3), .magazines .inner .magazine:nth-child(4), .magazines .inner .magazine:nth-child(5) {display: inline-block;}

#page10 {overflow: hidden;}
#page10 .subscribe {padding: 25% 45px 10%; position: relative; z-index: 100; margin: 0; background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );}
#page10 .subscribe .bt {display: inline-block; font-weight: 300; text-decoration: none; padding: 0.55em 1em;
    font-size: 24px; text-align: center;  margin: 0 auto; border-radius: 30px; text-transform: uppercase;
    color: #2c2c2c; background: #fcc200; box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.4);}
#page10 .logo {min-width: 15em; max-width: 400px; margin: 0 auto 10px; width: 100%; max-height: 20em; height: 15em; min-height: 7em;
    background: url("/images/subscribe-logo.png") no-repeat 50% 50%; background-size: contain;}

body.tech  #page10 .logo {background-image: url("/images/logo-tech.png")}
body.men #page10 .logo {background-image: url("/images/logo-men.png")}
body.avto  #page10 .logo {background-image: url("/images/logo-avto.png")}
body.kind  #page10 .logo {background-image: url("/images/logo-kind.png")}
body.food  #page10 .logo {background-image: url("/images/logo-food.png")}


#page10 .description {max-width: 300px; text-align: center; margin: 10px auto 0;}
#slider {position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 1; overflow: hidden;}
#slider div {position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 10;}
.blur {-webkit-filter: blur(5px); -moz-filter: blur(5px); -o-filter: blur(5px); -ms-filter: blur(5px); filter: blur(5px);}
#slider .item.slider1 .inner {background: url("/images/subscribe01.jpeg") no-repeat 50% 0; background-size: cover;}
#slider .item.slider2 .inner {background: url("/images/subscribe02.jpeg") no-repeat 50% 0; background-size: cover;}
#slider .item.slider3 .inner {background: url("/images/subscribe03.jpeg") no-repeat 50% 0; background-size: cover;}
#slider .item.slider4 .inner {background: url("/images/subscribe04.jpeg") no-repeat 50% 0; background-size: cover;}
body.men #slider .item.slider1 .inner {background: url("/images/men-subscribe01.jpeg") no-repeat 50% 0; background-size: cover;}
body.men #slider .item.slider2 .inner {background: url("/images/men-subscribe02.jpeg") no-repeat 50% 0; background-size: cover;}
body.men #slider .item.slider3 .inner {background: url("/images/men-subscribe03.jpeg") no-repeat 50% 0; background-size: cover;}
body.men #slider .item.slider4 .inner {background: url("/images/men-subscribe04.jpeg") no-repeat 50% 0; background-size: cover;}
#slider .item {-webkit-animation: load 8s linear infinite; -moz-animation: load 8s linear infinite; -o-animation: load 8s linear infinite; animation: load 8s linear infinite;}
#slider .item.slider3 {-webkit-animation-delay: 2s; -moz-animation-delay: 2s; -o-animation-delay: 2s; animation-delay: 2s;}
#slider .item.slider2 {-webkit-animation-delay: 4s; -moz-animation-delay: 4s; -o-animation-delay: 4s; animation-delay: 4s;}
#slider .item.slider1 {-webkit-animation-delay: 6s; -moz-animation-delay: 6s; -o-animation-delay: 6s; animation-delay: 6s;}
@-webkit-keyframes load {0% {opacity: 1;} 25% {opacity: 1;} 30% {opacity: 0;} 100% {opacity: 0;}}
@-moz-keyframes load {0% {opacity: 1;} 25% {opacity: 1;} 30% {opacity: 0;} 100% {opacity: 0;}}
@-o-keyframes load {0% {opacity: 1;} 25% {opacity: 1;} 30% {opacity: 0;} 100% {opacity: 0;}}
@keyframes load {0% {opacity: 1;} 25% {opacity: 1;} 30% {opacity: 0;} 100% {opacity: 0;}}

@media (max-width: 360px) {
    #page10 .subscribe .bt {font-size: 17px;} #page10 .subscribe {padding-bottom: 0;}
}
@media (max-width: 480px) {
    .one-col .inner {padding: 0 0.5em;}
    .one-col .magazine {min-width: 10em; max-width: 10em; padding: 0 0.5em 1.5em 0;}
}
@media (min-width: 480px) and  (max-width: 720px){
    .one-col .magazine {min-width: 15em; max-width: 15em;}
}
@media (min-width: 360px) and (max-width: 420px) {#page10 .subscribe .bt {font-size: 20px;}}
@media (max-height: 500px) {#page10 .logo {height: 7em;}}
/*
@media all and (min-width: 600px) {
    img.nyIm.nyFoot {
        width: 101%;
        left: -1%;
        margin-top: -10%;
    }

    .container-fluid .footer {
        margin-top: 63px;
    }
}
@media all and (min-width: 100px) {
    .container-fluid .footer {
        margin-top: 70px;
    }
}*/


.bundle .magazines .item{
    width: 100%;
}
.bundle .magazines .magazine{
    overflow: hidden;
    vertical-align: top;
    margin-top: 10px;
    display: inline-block;
    text-align: left;
    /* height: 300px; */
    width: 23%;
    float: left;
    margin-left: 20px;
}
.bundle .magazines .magazine .cover{
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.4);
    background-color: #FFF;
    background-size: cover;
    width: 90%;
    padding-bottom: 120%;
    background-repeat: no-repeat;
    background-position: 50% 0;
    margin: 6px;
}
.bundle .magazines .j-group-title{
    height: 20px;
    font-size: 20px;
    text-align: left;
    margin: 1% 3% 0;
    display: block;
}
.bundle .magazine p {display: none;}
.bundle .magazine p.date {display: block;}